header {
  padding: 15px 0;
  background-color: red;
  margin-bottom: 30px;
	color: black;
}

header .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.col-sm-8 {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
  font-weight: 10px;
}

.col-sm-1, .col-sm-3, .col-lg-5, .col-lg-2, .col-sm-4 {
  padding: 10px;
}

.col-xs-4 {
  padding: 5px;
}

div row {
  padding-bottom: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
	font-size: 10;
	background-color: white;
}

img {
  width: 100%;
  padding: 2px;
}

p {
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
